<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="/styles/common-styles.css">
</head>
<body class="container">
    <div class="container vertical" id="content">
        <h3>Login page</h3>
        <form class="container vertical" id="login-form">
            <p>Username</p>
            <input id="username-input" type="text">
            <p>Password</p>
            <input id="password-input" type="password">
            <input type="submit" value="Login">
        </form>

        <a href="register.html">Don't have an account?</a>

        <script src="/logic/login.js"></script>
        <script src="/logic/common-logic.js"></script>
    </div>
</body>
</html>